<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SR_EavCollectionGrid::eavcollectiongrid" title="Eav Collection Grid" module="SR_EavCollectionGrid" sortOrder="300" parent="Magento_Catalog::inventory" action="eavcollectiongrid/index" resource="SR_EavCollectionGrid::eavcollectiongrid"/>
    </menu>
</config>
